.top{
    padding:50px 30px 40px 30px;
    margin:auto;
    color:#1B35A8;
    text-align: center;
    background-color: #eeeeee;
}
.center {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#image {
    max-width: 328px;
    max-height: 409px;
}
#img-caption {
    margin-left: 500px;
}

.timeline {
    background-color: #eeeeee;  
}

.heading {
    text-align: center;
    padding: 10px;
}

.detail {
    padding-left:350px;
    width: 600px;
    font-size: 20px;
}
.wiki-link {
    text-align: center;
}