#header {
    margin-top: 0px;
}
#header-img {
    width: 245px;
    padding: 7px;
    height: 30px;
    top: 50%;
}
#nav-bar {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    height: auto;
    width: 100%;
    margin: -5px;
    background-color: #eeeeee;
    justify-content: center;
}
#nav-bar ul {
    list-style: none;
    text-align: right;
    width: 1000px;
    font-family: sans-serif;
    top: 50%;
}
#nav-bar li {
    display: inline;
    margin: 1em 1em;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
}

#nav-bar a{
    color: black;
}
a:link {
    text-decoration: none;
}

.top-main {
    text-align: center;
    padding: 40px;
}

.fullCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 25px;
    padding: 4px;
    max-width: 300px;
    height: 350px;
}

.cardContent {
    padding: 2px;
    text-align: center;
    background-color: #eeeeee;
    margin: 0;
}

.cardText {
    margin: 5px;
    padding: 2px;
    text-align: center;
}

.cardText h5 {
    font-size: 25px;
}

.button-select {
    background-color: #ff9800;
    border: none; /* Remove borders */
    color: black; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    margin: 10px;
}

#works {
    margin: 30px;
    text-align: center;
}

#features li {
    list-style: none;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
.row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 600px) {

    .b {
        padding-top: 50px;
    }

    #features ul {
        text-align: center;
        padding-left: 5px;
    }

    #nav-bar ul {
        text-align: center;
        padding-left: 5px;
    }

    #nav-bar li {
        font-size: 15px;
        padding: 5px;
    }

    .column {
        width:100%;
    }

    #video {
        width: 90%;
        height: 90%;
        display: center;
    }
}
